<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="CSS/modules_css/navigation.css">
  <script src="https://kit.fontawesome.com/a0df4ac8c5.js"></script>
  <title>nav</title>
</head>

<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid" id="container">
      <img class="col-lg-2" src="Resources/images/mini_logo_no_background.png">

      <ul class="nav navbar-nav col-lg-8">
        <li><a href="/">Home</a></li>
        <li><a href="/drink">Sản phẩm</a></li>
        <li><a href="#">Tồn kho</a></li>
        <li><a href="/staff">Nhân sự</a></li>
        <li><a href="/dashboard">Thống kê</a></li>
        <li><a href="/order">Đơn hàng</a></li>

      </ul>

      <div class="col-lg-2" id="login">
        <!-- Button trigger modal -->
        <button type="button" id="btnStaffModal" class="btn btn-primary" data-toggle="modal" data-target="#staffModal">
          <%-staff.name%> 
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staffModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header">
                <button id="close_btn" type="button" class="close" data-dismiss="modal" aria-label="Close"  >Đóng</button>
              </div>
              <!--Body-->
              <div class="modal-body">
                <!--Thông tin nhân viên-->
                <div class="row info layout" style="display: flex; align-items: center;">
                  <div class="col-sm-6 col-md-4">
                      <img src="upload/staff/<%-staff.img%> " alt="" height="400px" width="300px" style="margin: 0;" class="img-rounded img-responsive" />
                  </div>
                  <div class="col-sm-6 col-md-8">
                      <h4 style="color: #ed9652;"><%-staff.name%> </h4>
                      <small><cite ><%-staff.address%>  <i class="glyphicon glyphicon-map-marker">
                      </i></cite></small>
                      <p>
                        <i class="glyphicon glyphicon-phone"></i>&ensp;<%-staff.phone%><br/>
                        <i class="glyphicon glyphicon-envelope"></i>&ensp;<%-staff.email%><br/>
                        <% if(staff.sex == "male"){ %> 
                          <span style="display: inline-block; width:100px;"><i class='fas fa-transgender' style="font-size:15px; margin-left: 2px;"></i>&ensp;Nam&emsp;</span>
                        <% } else { %>
                          <i class='fas fa-transgender' style="font-size:15px; margin-left: 2px;"></i>&ensp;Nữ&emsp;
                        <% } %>  

                        <% if(staff.position == "manager"){ %> 
                          <i class="glyphicon glyphicon-briefcase"></i>&ensp;Quản lí<br/>
                        <% } else if(staff.position == "cashier") { %>
                          <i class="glyphicon glyphicon-briefcase"></i>&ensp;Thu ngân<br/>
                        <% } else { %>
                          <i class="glyphicon glyphicon-briefcase"></i>&ensp;Pha chế<br/>
                        <% } %> 
                        <span style="display: inline-block; width: 100px;"><i class="glyphicon glyphicon-time"></i>&ensp;Ca <%-staff.period %> &emsp;</span>
                        <i class="glyphicon glyphicon-euro" style="font-size: 15px;">&ensp;<%=staff.salary.toLocaleString() %>đ</i> 
                      </p>
                  </div>
                </div>

                <div class="changepassAlert layout" style="display: none;">
                  <p>Bạn có chắc muốn đổi mật khẩu?</p>
                  <button type="button" id="btn_yes" style="background-color: blue;">Xác nhận</button>
                  <button type="button" class="btn_no" style="background-color: red;">Hủy</button>
              </div>

                <!--Form xác nhận otp-->
                <form class="form layout" id="otpConfirm" style="width: 100%; display: none ;">
                  <span class="form_title w3-animate-left" style="font-size: 30px;">Đổi mật khẩu</span>
                  <div class="input w3-animate-left" style="margin-bottom: 30px; display: flex; flex-direction: row; align-items: center;">
                      <div style="margin-right: 25px; display: flex; align-items: center">
                          <i id="otp_label" class="fas fa-check-square" style="font-size: 26px; margin: 5px 4px;"></i>
                          <input type="text" id="otp" name="otp" style="width:100%" placeholder="Nhập mã xác nhận" >
                      </div>
                      <h2 class="resendOTP" style="font-size: 15px; color: #0380a0; margin: 0;" >Gửi lại mã</h2>
                  </div>
                  
                  <div class="input w3-animate-left" style="margin-bottom: 30px;">
                      <i class="fas fa-unlock-alt" style="font-size: 26px; margin: 5px 4px;"></i>
                      <input type="password" id="newpass" name="newpass" placeholder="Nhập mật khẩu mới">
                  </div>

                  <div class="input w3-animate-left" style="margin-bottom: 30px;">
                      <i class="fas fa-unlock-alt" style="font-size: 26px; margin: 5px 4px;"></i>
                      <input type="password" id="confirm_pass" name="confirm" placeholder="Nhập lại mật khẩu" >
                  </div>
                  <div>
                      <button id="confirm_new_pass" type="" class="btn btn_confirm btn-info w3-animate-right">Xác nhận</button>
                      <button type="button" class="btn_no btn_confirm btn btn-info w3-animate-right" style="background-color: red;">Hủy</button>
                  </div>
                 
              </div>
              <!--footer-->
              <div class="modal-footer">
                <button type="button" id="btn_change_pass" class="btn btn-secondary">Đổi mật khẩu</button>
                <button type="button" id="btn_logout" class="btn btn-primary">Đăng xuất</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>
  <script src="JS/navigation.js">
  </script>
</html>