<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/dashboard.css">
    <title>Happy Cafe</title>
</head>
<body>
    <div id="background" class="container-fluid" >
        
        <!--navigation module-->
        <div class="row">
            <div id="module_nav" >
                <%-include('./modules/navigation')%>
            </div>
        </div>
           
        <!--menu module-->
        <div class="row" id="body">
          <div id="overview" class="col-lg-2">
              <div id="overview_layout">
                <div id="money_overview">
                    <div class="overview">
                        <h2><%-totalIncome.toLocaleString()%> đ</h2>
                        <p>Doanh thu</p>
                    </div>
                    <div class="overview" style="margin: 15px 0 15px 0">
                        <h2>0 đ</h2>
                        <p>Chi tiêu</p>
                    </div>
                    <div class="overview">
                        <h2>0 đ</h2>
                        <p>Lợi nhuận</p>
                    </div >
                </div>
                <div id="customer_visit" style="margin: 25px 0 25px 0;">
                    <div class="overview">
                        <h2><%-total_visit%> lượt</h2>
                        <p>Tổng lượt khách</p>
                    </div>
                </div>
                <div id="best_staff">
                    <div class="overview">
                        <h2>Ng.Đang.Trường</h2>
                        <p>Best Staff</p>
                    </div>
                </div>
              </div>
          </div>

          <div id="chart" class="col-lg-7">
              <div class="chart_layout">
                    <div class="money_chart_layout col-lg-12">
                            <div class="select_index" style="display: flex; flex-direction: row">
                                <select id="income_sort" class="input select_sort">
                                    <option value="day">Ngày</option>
                                    <option value="week">Tuần</option>
                                    <option value="month">Tháng</option>
                                </select>
                                <div class="income_date_zone" id="income_select_date" style="margin-left: 20px;" >
                                    <input type="date" class="select_date input" style="width: 135px">
                                </div>
                                <div class="income_date_zone" id="income_select_week" style="margin-left: 20px; display: none">
                                    <select id="select_date" class="income_select_week input">
                                        <% for(i = 1; i<=53; i++){ %>
                                            <option value=<%-i%>><%-i%></option>
                                        <% } %>  
                                    </select>
                                </div>
                                <div id="income_select_year" style="margin-left: 20px; display: none">
                                    <input type="text" class="income_select_year input" style= "text-align: center;" >
                                </div>
                            </div>

                            <div class="chart" id="income_chart">

                            </div>
                    </div>

                    <script type="text/javascript">
                        
                      </script>

                    <div class="customer_chart_layout col-lg-12">
                        <div class="select_index" style="display: flex; flex-direction: row">
                            <select id="customer_visit_sort" class="input select_sort">
                                <option value="day">Ngày</option>
                                <option value="week">Tuần</option>
                                <option value="month">Tháng</option>
                            </select>
                            <div class="customer_visit_zone" id="customer_visit_select_date" style="margin-left: 20px;" >
                                <input type="date" class="select_date input" style="width: 135px">
                            </div>
                            <div class="customer_visit_zone" id="customer_visit_select_week" style="margin-left: 20px; display: none">
                                <select id="select_date" class="customer_visit_select_week input">
                                    <% for(i = 1; i<=53; i++){ %>
                                        <option value=<%-i%>><%-i%></option>
                                    <% } %>  
                                </select>
                            </div>
                            <div id="customer_visit_select_year" style="margin-left: 20px; display: none">
                                <input type="text" class="customer_visit_select_year input" style= "text-align: center;" >
                            </div>
                        </div>
                        <div class="chart" id="customer_visit_chart">

                        </div>
                    </div>

              </div>
          </div>

          <div id="top-sale" class="col-lg-3">
              <div id="top-sale-layout" >
                <h2>Top Sale</h2>
                <ul>
                    <% topDrinks.forEach((drink, index) => { %> 
                        <% if(index == 2){ %>
                            <li style="margin-bottom: 0;">
                        <% } else {%>
                            <li>
                        <% } %>    
                            <div class= "img_frame">
                                <img src="/upload/drink_image/<%-drink.img%>">
                            </div>

                            <div class="drink_info">
                                <h3><%-drink.drink_name%></h3>
                                <p><span>Đã bán:  </span><span style="color: #ed9652;"><%-drink.qty%> ly</span></p>
                            </div>
                        </li>
                    <% }) %> 
                </ul> 
              </div>
        </div>
    </div>
</body>
<script src="JS/dashboard.js">

</script>
</html>