<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/drink.css">
    <title>Happy Cafe</title>
</head>
<body>
    <div id="background" class="container-fluid" >
        
        <!--navigation module-->
        <div class="row">
            <div id="module_nav" >
                <%-include('./modules/navigation')%>
            </div>
        </div>
           
        <!--menu module-->
        <div class="row" id="body">
            <!---->
            <!--danh mục thứ uống-->
            <div id="module_menu" class="col-lg-2">
                <%-include('./modules/drink_menu')%>
            </div> 
            <!---->
            <!---->
            <!---->
            <!--hiển thị thức uống-->
            <div id="display_drink" class="col-lg-6" >
                <div class="one_menu" style="height: 90%;">
                    <h2>Trà trái cây</h2>
                        <ul>
                            <% for(let i=0; i<2; i++){ %>
                                <li>
                                    <div class="img">
                                        <img id="drink_img_<%-i%> " src="upload/drink_image/img_demo.png">
                                    </div>
                                    <div class="drink_info">
                                        <h3 class="drink_name">Trà đào cam sả</h3>
                                        <h3 class="drink_price">45.000đ</h3>
                                        <div>
                                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_<%-i%>">Chỉnh sửa</button>
    
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal_<%-i%>" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <form action="" class="update_form" id="update_form_<%-i%>" enctype="multipart/form-data">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Chỉnh sửa thông tin</h4>
                                                            </div>
    
                                                            <div class="modal-body">
                                                                <div class="modal_img">
                                                                    <img id="new_img_<%-i%>" src="upload/drink_image/img_demo.png" width="150px">
                                                                    <input type="file" id="selectedImg_<%-i%>" name="new_img" style="display: none;" onchange="loadimg<%-i%>(event), checkform(<%-i%>)" />
                                                                    <input type="button" id="alter_input" value="Upload" onclick="document.getElementById('selectedImg_<%-i%>').click();" />
                                                                </div>
    
                                                                <div id="info_edit">
                                                                    <div class="input_row">
                                                                        <div class="input_label">
                                                                            <label for="edit_menu">Danh mục:</label>
                                                                        </div>
                                                                        <div class="input">
                                                                            <select name="edit_menu" style="width: 100%;" onchange="checkform(<%-i%>)">
                                                                                <option value="cafe">cafe</option>
                                                                                <option value="trà trái cây">trà trá cây</option>
                                                                              </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="input_row">
                                                                        <div class="input_label">
                                                                            <label for="edit_name">Tên:</label>
                                                                        </div>
                                                                        <div class="input">
                                                                            <input type="text" name="edit_name" id="edit_name" onchange="checkform(<%-i%>)">
                                                                        </div>
                                                                    </div>
                                                                    <div class="input_row">
                                                                        <div class="input_label">
                                                                            <label>Giá:</label>
                                                                        </div>
                                                                        <div class="input">
                                                                            <div class="size_input">
                                                                                <div>
                                                                                    <label for="small_price">Size nhỏ</label><br>
                                                                                </div>
                                                                                <div style="display: flex; flex-direction: column;">
                                                                                    <input type="number" name="small_price" min="0" id="small_price" onchange="checkform(<%-i%>)">
                                                                                </div>
                                                                            </div>
                                                                            <div class="size_input">
                                                                                <div>
                                                                                    <label for="medium_price">Size vừa</label><br>
                                                                                </div>
                                                                                <div style="display: flex; flex-direction: column;">
                                                                                    <input type="number" name="medium_price" min="0" id="medium_price" onchange="checkform(<%-i%>)">
                                                                                </div>
                                                                            </div>
                                                                            <div class="size_input">
                                                                                <div>
                                                                                    <label for="large_price">Size lớn</label><br>
                                                                                </div>
                                                                                <div style="display: flex; flex-direction: column;">
                                                                                    <input type="number" name="large_price" min="0" id="large_price" onchange="checkform(<%-i%>)">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="input_row" style="margin: 0;">
                                                                        <div class="input_label">
                                                                            <label for="status">Trạng thái:</label>
                                                                        </div>
                                                                        <div class="input">
                                                                            <select name="status" style="width: 50%;" id="status" onchange="checkform(<%-i%>)">
                                                                                <option value="active">Active</option>
                                                                                <option value="inactive">Inactive</option>
                                                                              </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: red;">Hủy</button>
                                                                <button id="btn_<%-i%>" type="submit" disabled class="btn btn-default">Cập nhật</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
    
                                    <script type="text/javascript">  //validate
                                        $(document).ready(function() {    
                                            var id = "#update_form_" + '<%-i%>' 
                                            $(id).validate({
                                                rules: {
                                                    edit_menu:{
                                                        required:true
                                                    },
                                                    edit_name:{
                                                        required:true
                                                    },
                                                    small_price:{
                                                        number: true
                                                    },
                                                    medium_price:{
                                                        required: true,
                                                        number: true
                                                    },
                                                    large_price:{
                                                        number: true
                                                    },
                                                    stutus:{
                                                        required: true
                                                    }
                                                },
                                                messages:{
                                                    edit_menu:{
                                                        required: "Danh mục không được để trống"
                                                    },
                                                    edit_name:{
                                                        required: "Tên không được bỏ trống"
                                                    },
                                                    small_price:{
                                                        number: "Giá tiền phải là số"
                                                    },
                                                    medium_price:{
                                                        required: "Giá size vừa không thể bỏ trống",
                                                        number: "Giá tiền phải là số"
                                                    },
                                                    large_price:{
                                                        number: "Giá tiền phải là số"
                                                    },
                                                    stutus:{
                                                        required: "Giá tiền phải là số"
                                                    }
                                                }
                                            });
                                        });
                                    </script>
                                    <script>
                                        function checkform(i){
                                            var id = "#update_form_" + i
                                            var valid = $(id).valid();
                        
                                            var btn_id = "#btn_" + i;
                                            if(valid == true){
                                                $(btn_id).attr("disabled",false);
                                            } else {
                                                $(btn_id).attr("disabled", true);
                                            }
                                        }
                                    </script>
                                   
                                    <script>        //load ảnh
                                        function loadimg<%-i%>(event){
                                           var reader = new FileReader();
                                           reader.onload = function(){
                                            var id = "new_img_" + '<%-i%>'
                                            var img = document.getElementById(id);
                                            img.src = reader.result;
                                           };
                                           reader.readAsDataURL(event.target.files[0]);
                                         };
                                    </script>
        
                                </li>
                            <% } %>  
                        </ul>
                </div>
            </div> 
            <!---->
            <!---->
            <!---->
            <!--tính tiền-->
            <div id="create" class="col-lg-4">
                <div id="create_layout">
                    <div id="new_menu">
                        <h2>Tạo danh mục mới</h2>
                        <form >
                            <div class="input_row" style="margin: 20px 0 20px 0;">
                                <div class="input_label">
                                    <label for="new_menu">Tên danh mục:</label>
                                </div>
                                <div class="input">
                                    <input type="text" name="new_menu" onchange="update_drink()" id="new_menu">
                                    <button id="menu_create" type="submit" class="btn btn-default">Tạo</button>
                                </div>
                            </div>
                        </form>
                    </div>
    
                    <div id="new_drink">
                        <h2>Tạo thức uống mới</h2>
                        <form action="" id="create_form" enctype="multipart/form-data">
                            <div class="modal_img">
                                <input type="file" id="drinkImg" name="drink_img" style="display: none;" onchange="load_drink_img(event), check_new_drink_form()" />
                                <input type="button" id="alter_input" value="Chọn ảnh" onclick="document.getElementById('drinkImg').click();" />
                                <div class="img_border">
                                    <img id="drink_img" src="" width="150px" height="150px">
                                </div>
                            </div>

                            <div id="drink_info">
                                <div class="input_row">
                                    <div class="input_label">
                                        <label for="chose_menu">Danh mục:</label>
                                    </div>
                                    <div class="input">
                                        <select name="chose_menu" style="width: 100%;" onchange="check_new_drink_form()">
                                            <option value="cafe">cafe</option>
                                            <option value="trà trái cây">trà trá cây</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="input_row">
                                    <div class="input_label">
                                        <label for="enter_name">Tên:</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" name="enter_name" onchange="check_new_drink_form()" id="enter_name">
                                    </div>
                                </div>
                                <div class="input_row">
                                    <div class="input_label">
                                        <label>Giá:</label>
                                    </div>
                                    <div class="input">
                                        <div class="size_input">
                                            <div>
                                                <label for="small_price">Size nhỏ</label><br>
                                            </div>
                                            <div style="display: flex; flex-direction: column; width: 100%;">
                                                <input type="number" name="small_price" min="0" id="small_price" onchange="check_new_drink_form()">
                                            </div>
                                        </div>
                                        <div class="size_input">
                                            <div>
                                                <label for="medium_price">Size vừa</label><br>
                                            </div>
                                            <div style="display: flex; flex-direction: column; width: 100%;">
                                                <input type="number" name="medium_price" min="0" id="medium_price" onchange="check_new_drink_form()">
                                            </div>
                                        </div>
                                        <div class="size_input">
                                            <div>
                                                <label for="large_price">Size lớn</label><br>
                                            </div>
                                            <div style="display: flex; flex-direction: column; width: 100%;">
                                                <input type="number" name="large_price" min="0" id="large_price" onchange="check_new_drink_form()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input_row" style="margin: 0;">
                                    <div class="input_label">
                                        <label for="status">Trạng thái:</label>
                                    </div>
                                    <div class="input">
                                        <select name="status" style="width: 50%;" id="status" onchange="check_new_drink_form()">
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                            <div style="width: fit-content; margin : auto; margin-top:15px;">
                                <button id="btn_create" type="submit" disabled class="btn btn-default">Tạo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>        //load ảnh
                function load_drink_img(event){
                   var reader = new FileReader();
                   reader.onload = function(){
                     var img = document.getElementById('drink_img');
                     img.src = reader.result;
                   };
                   reader.readAsDataURL(event.target.files[0]);
                 };
            </script>

            <script type="text/javascript">  //validate
               $(document).ready(function(){
                   $("#create_form").validate({
                    rules: {
                        chose_menu:{
                            required:true
                        },
                        enter_name:{
                            required:true
                        },
                        small_price:{
                            number: true
                        },
                        medium_price:{
                            number: true,
                            required: true
                        },
                        large_price:{
                            number: true
                        },
                        stutus:{
                            required: true
                        }
                    },
                    messages:{
                        chose_menu:{
                            required: "Danh mục không được để trống"
                        },
                        enter_name:{
                            required: "Tên không được bỏ trống"
                        },
                        small_price:{
                            number: "Giá tiền phải là số"
                        },
                        medium_price:{
                            number: "Giá tiền phải là số",
                            required: "Giá size vừa là bắt buộc"
                        },
                        large_price:{
                            number: "Giá tiền phải là số"
                        },
                        stutus:{
                            required: "Tình trạng không được bỏ trống"
                        }
                    }
                   });
               });
                   
                      
            
            </script>

            <script>
                function check_new_drink_form(){
                    var valid = $("#create_form").valid();
                    if(valid == true){
                        $("#btn_create").attr("disabled",false);
                    } else {
                        $("#btn_create").attr("disabled", true);
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>