<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://kit.fontawesome.com/a0df4ac8c5.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/drink.css">
    <link rel="stylesheet" type="text/css" href="CSS/modules_css/drink_menu.css">
    <title>Happy Cafe</title>
</head>

<body>
    <div id="background" class="container-fluid">

        <!--hiển thị alert-->
        <div class="alert_box">
           
        </div>
        

        <!--Thanh điểu hướng-->
        <div class="row">
            <div id="module_nav">
                <%-include('./modules/navigation')%>
            </div>
        </div>

        <!--menu module-->
        <div class="row" id="body">
            <!---->
            <!--danh mục thức uống va-->
         
            <div id="module_menu" class="col-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item active" id="menu">
                      <a class="nav-link" >Menu</a>
                    </li>
                    <li class="nav-item" id="topping">
                      <a class="nav-link">Topping</a>
                    </li>
                </ul>
                <nav class="menu_container" id="menu-container">
                    <div>
                      <h2 id="menu-title">MENU</h2>
                      <ul class="menu">
                        <% category.forEach(function(cate,index){ %>
                          <% if(index == 0){ %>
                            <li  style="display: flex; flex-direction:row;">
                                <div style="width: 80%">
                                    <span class="active cate_name" id="<%-cate.category_id%>"><%-cate.name%></span>
                                </div>
                                <form id="update_cate_<%-cate.category_id%>">
                                    <label class="switch">
                                        <% if(cate.status == "active"){ %>
                                            <input id="input_<%-cate.category_id%>" type="checkbox" checked onchange="update_category('<%-cate.category_id%>')">
                                        <% } else { %>
                                            <input id="input_<%-cate.category_id%>" type="checkbox" onchange="update_category('<%-cate.category_id%>')">
                                        <% } %>  
                                        <span class="slider round"></span>
                                    </label> 
                                </form>
                            </li>
                          <% } else { %>
                            <li  style="display: flex; flex-direction:row;">
                                <div style="width: 80%">
                                    <span class="cate_name" id="<%-cate.category_id%>"><%-cate.name%></span>
                                </div>
                                <form id="update_cate_<%-cate.category_id%>">
                                    <label class="switch">
                                        <% if(cate.status == "active"){ %>
                                            <input id="input_<%-cate.category_id%>" type="checkbox" checked onchange="update_category('<%-cate.category_id%>')">
                                        <% } else { %>
                                            <input id="input_<%-cate.category_id%>" type="checkbox" onchange="update_category('<%-cate.category_id%>')">
                                        <% } %>  
                                        <span class="slider round"></span>
                                    </label> 
                                </form>
                            </li>
                          <% } %>
                        <% }); %>
                      </ul>
                    </div>
                </nav>
                <nav class="menu_container" id="topping-container">
                    <div>
                      <ul class="topping">
                        <% topping.forEach((topping)=>{ %>
                            <li id="<%-topping.topping_id%>" style="display: flex; flex-direction:row">
                                <div style="width:80%;">
                                    <span><%-topping.name%></span>
                                </div>
                                <form id="update_topping_<%-topping.topping_id%>">
                                    <label class="switch">
                                        <% if(topping.status == "active"){ %>
                                            <input id="input_<%-topping.topping_id%>" type="checkbox" checked onchange="update_topping('<%-topping.topping_id%>')">
                                        <% } else { %>
                                            <input id="input_<%-topping.topping_id%>" type="checkbox" onchange="update_topping('<%-topping.topping_id%>')">
                                        <% } %>  
                                        <span class="slider round"></span>
                                    </label> 
                                </form>
                            </li>
                        <% }); %>
                      </ul>
                    </div>
                </nav>
            </div>
            <!---->
            <!---->
            <!---->
            <!--hiển thị thức uống-->
            <div id="display_drink" class="col-lg-6">

                <!--group thức uống theo danh mục-->
                <% for(let i=0; i< category.length; i++){ %>
                <div class="listGroupByCategory" id="list_<%-category[i].category_id%>" style="height: 90%;">
                    <!--Tiêu đề danh mục-->
                    <h2 class="list_title"><%-category[i].name%></h2>

                    <!--Danh sách thức uống-->
                    <ul>
                        <% for(let j=0; j< drinks.length; j++){%>
                        <% if(drinks[j].category_id == category[i].category_id){ %>
                        <li id="drink_<%=drinks[j].drink_id%>" class="drinkInList">
                            <div class="layout">
                                <!--hình ảnh và trạng thái-->
                                <div class="img">
                                    <div class="avatar" >
                                        <img  src="upload/drink_image/<%=drinks[j].img%>">
                                    </div>

                                    <% if(drinks[j].status == "active") {%>
                                    <div class="status">
                                        <img src="Resources/icon/active.png" width="115px" height="auto"
                                            style="padding-left: 10px;">
                                    </div>
                                    <% } else { %>
                                    <div class="status">
                                        <img src="Resources/icon/inactive.png" width="115px" height="auto"
                                            style="padding-left: 10px;">
                                    </div>
                                    <% } %>
                                </div>
                                <!-- thông tin thức uống-->
                                <div class="drink_info">
                                    <!--Tên thức uống-->
                                    <h3 class="drink_name"><%=drinks[j].name%></h3>
                                    <!--Giá tiền-->
                                    <div class="drink_price">
                                        <% if(parseInt(drinks[j].price.size_m) > 0 ){ %>
                                        <h2>M: <span
                                                style="margin: -2px 20px; color: #ed9652"><%-drinks[j].price.size_m.toLocaleString()%>
                                                đ</span> </h2>
                                        <% }; %>

                                        <% if(parseInt(drinks[j].price.size_l) > 0 ){ %>
                                        <h2>L: <span
                                                style="margin: -2px 20px; color: #ed9652"><%-drinks[j].price.size_l.toLocaleString()%>
                                                đ</span> </h2>
                                        <% }; %>
                                    </div>
                                    <div>
                                        <!--Nút hiển thị form chỉnh sửa -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#Modal_<%=drinks[j].drink_id%>">Chỉnh sửa</button>

                                        <!-- Form chỉnh sửa -->
                                        <div class="modal fade" id="Modal_<%=drinks[j].drink_id%>" tabindex="-1"
                                            role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <form action="drink/update" method="POST" id="update_form_<%=drinks[j].drink_id%>" class="update_form" enctype="multipart/form-data">
                                                    <input type="hidden" name="drink_id" value="<%=drinks[j].drink_id%>">
                                                    <div class="modal-content">
                                                        <!--Header của form-->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Chỉnh sửa thông tin</h4>
                                                        </div>
                                                        <!--Body-->
                                                        <div class="modal-body">
                                                            <!--Hình ảnh-->
                                                            <div class="modal_img">
                                                                <img id="new_img_<%-drinks[j].drink_id%>"
                                                                    src="upload/drink_image/<%=drinks[j].img%>"
                                                                    width="150px" height="150px" style="border: solid 0.5px #ed9652;">
                                                                <input type="file" class="img_input"
                                                                    id="img_input_<%-drinks[j].drink_id%>"
                                                                    name="new_img" style="display: none;"
                                                                    onchange="loadImg_<%-drinks[j].drink_id%>(event), checkform('<%-drinks[j].drink_id%>')" />
                                                                <input type="button" id="alter_input" value="Upload"
                                                                    onclick="$(this).siblings('.img_input').click()" />
                                                            </div>
                                                            <script>
                                                                //Function load ảnh mới
                                                                function loadImg_<%-drinks[j].drink_id%> (event) {
                                                                    var reader = new FileReader();
                                                                    reader.onload = function () {
                                                                        var id = "new_img_" +
                                                                            '<%-drinks[j].drink_id%>';
                                                                        console.log(id);
                                                                        var img = document.getElementById(id);
                                                                        img.src = reader.result;
                                                                    };
                                                                    reader.readAsDataURL(event.target.files[0]);
                                                                };
                                                            </script>

                                                            <div id="info_edit">
                                                                <!--Danh mục -->
                                                                <div class="input_row">
                                                                    <div class="input_label">
                                                                        <label for="edit_menu">Danh mục:</label>
                                                                    </div>
                                                                    <div class="input">
                                                                        <input type="text" readonly
                                                                            value="<%-category[i].name%> ">
                                                                    </div>
                                                                </div>
                                                                <!--Tên thức uống-->
                                                                <div class="input_row">
                                                                    <div class="input_label">
                                                                        <label for="edit_name">Tên:</label>
                                                                    </div>
                                                                    <div class="input">
                                                                        <input type="text" readonly id="edit_name"
                                                                            value="<%-drinks[j].name%> ">
                                                                    </div>
                                                                </div>
                                                                <!--chính sửa giá-->
                                                                <div class="input_row">
                                                                    <div class="input_label">
                                                                        <label>Giá:</label>
                                                                    </div>
                                                                    <div class="input">
                                                                        <div class="size_input">
                                                                            <div>
                                                                                <label for="size_m">Size
                                                                                    vừa</label><br>
                                                                            </div>
                                                                            <!--Giá size vừa-->
                                                                            <div
                                                                                style="display: flex; flex-direction: column;">
                                                                                <% if(parseInt(drinks[j].price.size_m) == 0){%>
                                                                                <input type="number" name="size_m"
                                                                                    id="size_m_<%-drinks[j].drink_id%>" value=0
                                                                                    onchange="checkform('<%-drinks[j].drink_id%>')" required>
                                                                                <% } else { %>
                                                                                <input type="number" name="size_m"
                                                                                    id="size_m_<%-drinks[j].drink_id%>"
                                                                                    value="<%-drinks[j].price.size_m%>"
                                                                                    onchange="checkform('<%-drinks[j].drink_id%>')" required>
                                                                                <% } %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="size_input">
                                                                            <div>
                                                                                <label for="size_l">Size
                                                                                    lớn</label><br>
                                                                            </div>
                                                                            <!--Giá size lớn-->
                                                                            <div
                                                                                style="display: flex; flex-direction: column;">
                                                                                <% if( parseInt(drinks[j].price.size_l) == 0){%>
                                                                                <input type="number" name="size_l"
                                                                                    id="size_l_<%-drinks[j].drink_id%>" value=0
                                                                                    onchange="checkform('<%-drinks[j].drink_id%>')" required>
                                                                                <% } else { %>
                                                                                <input type="number" name="size_l"
                                                                                    id="size_l_<%-drinks[j].drink_id%>"
                                                                                    value="<%-drinks[j].price.size_l%>"
                                                                                    onchange="checkform('<%-drinks[j].drink_id%>')" required>
                                                                                <% } %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--Topping-->
                                                                <div class="input_row"
                                                                    style="margin: 0; margin-bottom: 15px;">
                                                                    <div class="input_label">
                                                                        <label for="status">Topping:</label>
                                                                    </div>
                                                                    <div class="input">
                                                                        <select name="topping" style="width: 50%;" id="topping" onchange="checkform('<%-drinks[j].drink_id%>')">
                                                                            <% if(drinks[j].topping == true) {%>
                                                                                <option value=true>có</option>
                                                                                <option value=false>không</option>
                                                                            <% } else { %>
                                                                                <option value=false>không</option>
                                                                                <option value=true>có</option>
                                                                            <% } %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <!--Trạng thái-->
                                                                <div class="input_row" style="margin: 0;">
                                                                    <div class="input_label">
                                                                        <label for="status">Trạng thái:</label>
                                                                    </div>
                                                                    <div class="input">
                                                                        <select name="status" style="width: 50%;" id="status" onchange="checkform('<%-drinks[j].drink_id%>')">
                                                                            <% if(drinks[j].status == "active") {%>
                                                                                <option value="active">Active</option>
                                                                                <option value="inactive">Inactive</option>
                                                                            <% } else { %>
                                                                                <option value="inactive">Inactive</option>
                                                                                <option value="active">Active</option>
                                                                            <% } %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default btn-cancel"
                                                                data-dismiss="modal"
                                                                onclick="cancekUpdate('<%-drinks[j].drink_id%>')"
                                                                style="background-color: red;">Hủy</button>
                                                            <button id="btn_<%-drinks[j].drink_id%>" 
                                                                disabled class="btn btn-default" type="submit"
                                                                onclick="updateDrink('<%-drinks[j].drink_id%>')">Cập nhật</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% } %>
                        <% }; %>
                    </ul>
                </div>
                <% }; %>
            </div>
            <!---->
            <!---->
            <!---->

            <div id="create" class="col-lg-4">
                <div id="create_layout">
                    <div id="new_menu">
                        <h2>Tạo danh mục mới</h2>
                        <form id="create_menu">
                            <div class="input_row" style="margin: 10px 0 10px 0;">
                                <div class="input_label">
                                    <label for="new_menu">ID danh mục:</label>
                                </div>
                                <div class="input">
                                    <input type="text" name="menu_id" id="new_menu_id">
                                </div>
                            </div>
                            <div class="input_row" style="margin: 10px 0 10px 0;">
                                <div class="input_label">
                                    <label for="new_menu_id">Tên danh mục:</label>
                                </div>
                                <div class="input">
                                    <input type="text" name="menu_id" id="new_menu_name">
                                    <button type="button" class="btn btn-default" onclick="cateCreate()">Tạo</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="new_drink">
                        <h2>Tạo thức uống mới</h2>
                        <form action="drink/create" id="create_form" method="POST" enctype="multipart/form-data">
                            <div class="modal_img">
                                <input type="file" id="drinkImg" name="drinkImg" style="display: none;"
                                    onchange="load_drink_img(event), check_new_drink_form()" />
                                <input type="button" id="alter_input" value="Chọn ảnh"
                                    onclick="document.getElementById('drinkImg').click();" />
                                <div class="img_border">
                                    <img id="drink_img" src="" width="150px" height="150px">
                                </div>
                            </div>

                            <div id="drink_info">
                                <div class="input_row">
                                    <div class="input_label">
                                        <label for="category">Danh mục:</label>
                                    </div>
                                    <div class="input">
                                        <select name="category" style="width: 100%;"
                                            onchange="check_new_drink_form()">
                                            <% category.forEach((cate)=>{ %>
                                                <option value="<%-cate.category_id%>"><%-cate.name%></option>
                                            <% }) %> 
                                        </select>
                                    </div>
                                </div>
                                <div class="input_row">
                                    <div class="input_label">
                                        <label for="name">Tên:</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" name="name" onchange="check_new_drink_form()"
                                            id="enter_name">
                                            <label class="error" style="display: none;"></label>
                                    </div>
                                </div>
                                <div class="input_row">
                                    <div class="input_label">
                                        <label>Giá:</label>
                                        <i class="fas fa-info-circle price_tips" style="margin-left: 10px;"></i>
                                        <div class="create_price_tips">
                                            <div >
                                                <ul style="padding: 5px 15px 5px 30px; margin: 0;">
                                                    <li>Giá tối thiểu là 30,000đ</li>
                                                    <li>Giá size M phải nhỏ hơn size L</li>
                                                    <li>Size M có thể bằng 0 </li>
                                                    <li>Size L là bắt buộc</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="input">
                                        <div class="size_input">
                                            <div>
                                                <label for="size_l">Size lớn</label><br>
                                            </div>
                                            <div style="display: flex; flex-direction: column; width: 100%;">
                                                <input type="number" name="size_l" id="size_l" value="35000"
                                                    onchange="check_new_drink_form()">
                                            </div>
                                        </div>
                                        <div class="size_input">
                                            <div>
                                                <label for="size_m">Size vừa</label><br>
                                            </div>
                                            <div style="display: flex; flex-direction: column; width: 100%;">
                                                <input type="number" name="size_m" id="size_m" value="30000"
                                                    onchange="check_new_drink_form()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input_row" style="margin: 0 0 15px 0;">
                                    <div class="input_label">
                                        <label for="topping">Topping:</label>
                                    </div>
                                    <div class="input">
                                        <select name="topping" style="width: 50%;" id="status"
                                            onchange="check_new_drink_form()">
                                            <option value=false>Không</option>
                                            <option value=true>Có</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input_row" style="margin: 0;">
                                    <div class="input_label">
                                        <label for="status">Trạng thái:</label>
                                    </div>
                                    <div class="input">
                                        <select name="status" style="width: 50%;" id="status"
                                            onchange="check_new_drink_form()">
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div style="width: fit-content; margin : auto; margin-top:15px;">
                                <button id="btn_create" type="submit" disabled class="btn btn-default">Tạo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
                //load ảnh
                function load_drink_img(event) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        var img = document.getElementById('drink_img');
                        img.src = reader.result;
                    };
                    reader.readAsDataURL(event.target.files[0]);
                };
            </script>
        </div>
    </div>

    <script src="JS/drink.js"></script>
</body>

</html>